/*

* Override Pages default styles or create your own styles here

*/

.btn-nestable {
  margin-top: -5px;
  height: 28px;
  position: relative;
  right: -10px;
}

body.menu-behind .header .brand {
  max-width: 400px;
  width: 100%;
}
